@import "variables";

#columns-div {
  display: flex;
  flex-direction: Row;
  justify-content: space-around;

}

#board-page-title {
  font-family: $default-font;
  font-size: 2.7rem;
  text-align: center;
  color: $dark-blue;
}

.cardInputBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
    input {
      text-align: center;
      padding: 10px 10px;
      border : 1px solid rgb(125, 149, 228);
      margin-right: 10px;
      border-radius: 0.4em;
      outline:none;
    }
    // input.placeholder {
    //   text-align: center;
    // }
    select {
      color: white;
      padding: 10px 10px;
      border : 1px solid $primary-blue;
      background-color: $primary-blue;
      border-radius: 0.4em;
      align-self: flex-start;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    select:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    button {
      color: white;
      padding: 10px 10px;
      border : 1px solid $primary-blue;
      background-color: $primary-blue;
      border-radius: 0.4em;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      // align-self:
      margin-left: 15px;
    }
    button:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}


// .card-component {
//   border: 2px solid black;
// }
.card-component {
  background: $light-yellow;
  text-align: center;
  word-wrap: break-word;
  border-radius: 10px 30px;
  padding: 10px;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    // select {
    //   position: absolute;
    //   top: 10px;
    // }
}

.card-component:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


